.container{
  background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('./static/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:100vw;
  height:100vh;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.card {
  background-color:white;
  padding:20px;
  border-radius:10px;
}

.shadow-sm {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}

